%h1.text-center.mb-2.mt-1 Customers
.row.d-flex.justify-content-center.align-items-center
  = form_tag customers_path, method: :get do
    %label{for: 'minimum_age'} Minimum Age:
    = text_field_tag :minimum_age, params[:minimum_age]
    = submit_tag 'Search', class: 'btn btn-primary'
.row
  - @customers.each_with_index do |customer, index|
    .col-6.p-3
      .card
        .card-body
          %h5.card-title
            = customer.email
          %p.card-text
            Birthdate:
            = customer.birthdate.strftime '%Y-%m-%d'
          %p.card-text
            Total Amount:
            = number_to_currency customer.total_amount, separator: ',', precision: 2

