!!!
%html
  %head
    %title TestTask
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      = link_to 'Home', root_path, class: 'navbar-brand'
      %ul.navbar-nav
        %li.nav-item= link_to 'Orders', orders_path, class: 'nav-link'
        %li.nav-item= link_to 'Order Items', items_path, class: 'nav-link'
    .container
      - flash.each do |msg_type, message|
        %div{class: "alert #{flash_class(msg_type)} flash-message"}
          %button.close{type: 'button', data: {dismiss: 'alert'}} ×
          = message
      = yield
